/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
content: '';;
font-size: 10em;
	content: none;


/* Reset end */


body {
	position: fixed;
	
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	color: white;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	
	opacity: 1;
	user-select: none;
}

div#root {
	
}
div#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 1.6vw;

}

div#content h1 span {
	font-family: 'EB Garamond', serif;
	font-size: 100em;
}




body{
	position: relative;
	background-color: black;
}

.header {
	position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5vw;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #9c9c9c;
    mix-blend-mode: difference;
    font-size: 20px;
    font-family: "Open Sans",Arial,sans-serif;
    letter-spacing: .2em;
    text-indent: 0.2em;
    line-height: 1.5;
    z-index: 2;
    pointer-events: none;
    transition: color .4s linear;

}

.headerSignature {
	/*position: absolute;
	top: 0;
	left: 0;
	display: flex;
	padding:10vh;*/
	margin-left: 20px;
	text-transform: uppercase;
	color: #9c9c9c;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	line-height: 1.5;
}

.headerMenu {
	display: flex;	
    margin-right: 20px;
	text-transform: uppercase;
	color: #9c9c9c;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	line-height: 1.5;
}

.headerAbout {
	margin-right: 30px;
}

#button {
	font-size: 40px;
	background-color: red;
}

.headerContact {

}